@page "/"
@using Medico.Models
@using Medico.Services
@inject ICitas iCitas

<div class="row mt-3">
    <div class="col-4">
        <CitasHoy citas="citas"></CitasHoy>
    </div>
</div>

@code{

    List<Cita> citas = new List<Cita>();

    protected override async Task OnInitializedAsync()
    {
        citas = await iCitas.ObtenerCitasHoy();
    }
}